/* Resets: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #25262d;
    background-color: #f1f0f0;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: #3a389f;

    text-decoration: none;
}
a:hover{
    color: rgb(22, 15, 49);
}
/* End Resets. */
/*   Header space:   */
.Header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #bac0f5;
    border-bottom: #b0a8a8 solid 5px;
}
.nav-bar a{
    margin-left: 20px;
}
/* End Header space */
/* Start hero section */
.hero-section{
display: flex;
max-width: 1100px;
margin-inline: auto;
align-items: center;
margin-top: 2rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.image-section img{
    border-radius: 2rem;
    max-width: 100%;
}
.btn{
        padding: 10px 20px;
        width: fit-content;
        border-radius: 5px;
        background-color: #636682;
        color: white;
        border: none;
        cursor: pointer;
}
.btn:hover{
    background-color: #3d3f52;
}

/* End hero section */
/* Start Form */
form{
    width: 50%;
    margin-inline: auto;
    margin-top: 5rem;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block: 1rem;
}
input[type="email"],
input[type="password"],
input[type="name"]{
width: 100%;
padding: 10px;
border:2px solid rgb(52, 48, 100);
border-radius: 4px;
transition: all 0.2s;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="name"]:focus{
    outline: 4px solid #a581c9 ;
}
.checkbox1{
    cursor: pointer;
}
/* End Form */