/* Resets: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: Raleway;
}
.resize {
  max-width: 930px; /* 1170px   ; */
  margin-inline: auto;
}
/* Colors variables */
:root {
  /* main: */
  --bluey: #381ddb;
  --redy: #fc5252;
  --light-red: #ffa3a3;
  --general-dark: #222222;
  --general-light: #ffffff;
  /* aditional */
  --light-grey: #e0e0e0;
  --light-pink: #ffcdcd;
  --light-orange: #ffbe9d;
  --sandy: #db841d;
  --browny: #aa6550;
  --pinky: #c00096;
  --light-blue: #84c4ff;
  /* opasity affected: */
  --op-grey1: #222222b2;
  --op-grey2: #22222280;
  --op-grey3: #2222224d;
  --op-grey4: #2222221a;
  --op-grey5: #2222220d;
  --op-grey6: #22222208;
  --op-grey7: #ffffff33;
  --op-grey8: #ffffff1a;
  --op-grey9: #ffffff0d;
}
.colored-grey {
  color: rgba(244, 238, 238, 0.463);
}
.colored-blue {
  color: var(--bluey);
}
.white-txt {
  color: var(--general-light);
}
.grey3-txt {
  color: var(--op-grey3);
}
/* utility classes */
.flex {
  display: flex;
}
.flex-block {
  display: flex;
  flex-direction: column;
}
.algin-center {
  align-items: center;
}
.algin-basline {
  align-items: baseline;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-105 {
  gap: 1.5rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-205 {
  gap: 2.5rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-6 {
  gap: 6rem;
}
.marg-top {
  margin-top: 30px;
}
.font-bold {
  font-weight: bold;
}
.font-norm {
  font-weight: normal;
}
/* font size 22 */
.f22 {
  font-size: 22px;
}
.marg-block {
  margin-block: 100px;
}
.pad20 {
  padding: 20px;
}
a {
  text-decoration: none;
  font-size: 14px;
  color: var(--op-grey1);
  transition: all 50ms;
}
/*------------- components ----------*/
/*************** buttons *************/
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.btn {
  width: fit-content;
  padding-inline: 28px;
  padding-block: 14px;
  color: var(--redy);
  transition: all 300ms;
}
.btn.link:hover {
  text-decoration: underline;
}
.btn.btn-border {
  border: 1px solid var(--redy);
  height: 36px;
  padding: 8px 16px 8px 16px;
}
.btn.btn-border:hover {
  background-color: var(--redy);
  color: var(--general-light);
}
.btn.btn-background {
  justify-content: space-between;
  height: 30px;
  background: var(--redy);
  color: var(--general-light);
}
.btn.btn-background:hover {
  background: var(--light-red);
}

/************** imgs *******************/
.btn-buy {
  width: 70px;
  border-radius: 2rem;
  height: 27px;
  padding: 5px;
  font-weight: normal;
  font-size: 12px;
  align-items: center;
}

/******content*******/

.page-header {
  background-color: var(--general-light);
  height: 90px;
}
.nav-bar a:hover {
  color: var(--bluey);
}
.hero-section {
  background-color: var(--redy);
  height: 400px;
  -webkit-box-shadow: 0px 15px 0px -7px #f38c8c2f, 0px 30px 0px -14px #7aafff54;
  box-shadow: 0px 15px 0px -7px #7aafff8f, 0px 30px 0px -14px #f38c8c2f;
}
.square1 {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--general-dark);
}
.square2 {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--general-light);
}
.hero-img {
  width: 65%;
  height: 370px;
  margin-right: 10px;
}
.hero-text {
  width: 35%;
  margin-left: 75px;
}
h1,
h2,
h3 {
  font-family: Montserrat;
  font-size: 30px;
}
h1 {
  color: var(--general-dark);
}
.h1-text {
  display: inline;
}
.pin {
  margin-top: 1rem;
  width: 8px;
  height: 8px;
  border: 1px solid var(--general-dark);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0);
}
.pin:hover {
  cursor: pointer;
}
.pin:active {
  border: 0px solid var(--general-dark);
  background-color: var(--redy);
}
/* Info Section */
/* .info-section,
.benifits-section {
  height: 450px;
  color: var(--general-dark);
} */
.sect {
  color: var(--general-dark);
}
/* .info-left
.img-left-1  {
  width: 60%;
  margin-inline: 50px;
} */
.sect-max {
  width: 60%;
  margin-block: 150px;
  margin-left: 50px;
}
/* .info-right {
  width: 36%;
} */
.sect-small {
  width: 40%;
  height: inherit;
  font-size: 4px;
  font-weight: normal;
  margin-block: 100px;
  padding-left: 20px;
  padding-right: 50px;
}
/* 
.info-left-1 {
  font-weight: lighter;
} */
.wide-div {
  font-weight: lighter;
}

.info-left-bottom {
  /* color: var(--op-grey3); */
  font-weight: lighter;
  font-size: 14.5px;
  /* margin-right: 10px; */
}
.half-wide {
  width: 50%;
}

.card {
  height: 65px;
  font-size: 12px;
  font-weight: normal;
}
.sidebar {
  width: 6px;
  height: inherit;
  margin-inline: 15px;
  background-color: var(--op-grey4);
  color: #22222200;
}
.card:hover {
  .sidebar {
    background-color: var(--general-dark);
  }
  .counter {
    color: var(--redy);
  }
}
.sect-small p {
  margin-right: 10px;
}
.hr-style {
  border: 1px dashed var(--op-grey3);
}
/* .img-left1 {
  width: 60%;
  margin-inline: 50px;
  padding-inline: 50px;
  height: 400px;
} */
